body {
    background-color: #990001;
    font-family: 'Space Mono', monospace;
    color: white;
}
.space-mono-regular {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;
}
  
.space-mono-bold {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: normal;
}
  
.space-mono-regular-italic {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: italic;
}
  
.space-mono-bold-italic {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: italic;
}  

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

.navbar {
    width: 90%;
    margin: 15px auto;
    background-color: #4a0000;
    border-radius: 20px;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.navbar-nav .nav-link {
    color: #8e665f;
    font-size: 20px;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
    color: #b3a09c;
    cursor: pointer;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
    color: white;
}

.inactive-link {
    pointer-events: none;
    cursor: default;
}
