body {
    background-color: #990001;
    font-family: 'Space Mono', monospace;
    color: white;
    padding-top: 58px;
}

html {
  scrollbar-gutter: stable;
}

h2 {
    font-weight: 700;
    font-size: xxx-large;
}

.space-mono-regular {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;
}
  
.space-mono-bold {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: normal;
}
  
.space-mono-regular-italic {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: italic;
}
  
.space-mono-bold-italic {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: italic;
}  

.content-section {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, visibility 0s linear 0.4s;
}

.content-section.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease-in-out, visibility 0s linear 0s;
}

.navbar {
    position: fixed;
    top: 15px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 90%;
    background-color: #4a0000;
    border-radius: 20px;
    justify-content: center;
    z-index: 1000;
}


.navbar-nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.navbar-nav .nav-link {
    color: #8e665f;
    font-size: 20px;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
    color: #b3a09c;
    cursor: pointer !important;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
    color: white;
}

.inactive-link {
    pointer-events: none;
    cursor: default;
}

.body-container {
    width: 70%;
    margin-top: 3rem !important;
}

a {
  text-decoration: none; 
  color: #AC9E9A;
  text-decoration: underline;  
}

.info-text {
    font-size: 18px;
}

.column-header {
    font-size: 24px;
    font-weight: 700;
}

.fab, .far, .fa-solid{
    color: white;
}




